Django==1.5.4
Fabric==1.8.0
Markdown==2.3.1
Pillow==2.2.1
PyGithub==1.19.0
Pygments==1.6
South==0.8.2
Werkzeug==0.9.4
django-appconf==0.6
django-braces==1.2.2
django-compressor==1.2
django-debug-toolbar==0.9.4
django-disqus==0.4.1
django-easy-pjax==1.0
django-extensions==1.2.5
django-grappelli==2.4.6
-e git+git://github.com/carljm/django-markitup.git#egg=markitup
django-model-utils==1.5.0
django-pagination==1.0.7
django-pgallery==0.1dev
django-reversion==1.7.1
django-rosetta==0.7.2
-e git+git://github.com/zsiciarz/django-rosetta-grappelli.git#egg=rosetta_grappelli
# using a fork until a new PyPI release is made
-e git+git://github.com/hcarvalhoalves/django-taggit.git#egg=taggit
djorm-ext-core==0.4.3
djorm-ext-expressions==0.4.4
djorm-ext-hstore==0.4.3
-e git+git://github.com/ntucker/djorm-ext-pgarray.git#egg=djorm_pgarray
docutils==0.11
flake8==2.0
gunicorn==18.0
ipython==1.1.0
newrelic==1.13.1.31
paramiko==1.12.0
psycopg2==2.5.1
pycrypto==2.6.1
raven==3.5.0
six==1.4.1
sorl-thumbnail==11.12
unicode-slugify==0.1.1
