Django==2.2.17
Markdown==3.3.3
Pillow==7.2.0
Pygments==2.6.1
django-braces==1.14.0
django-crispy-forms==1.9.2
django-debug-toolbar==2.2
django-extensions==3.0.5
django-markitup==4.0.0
django-model-utils==4.1.1
django-pgallery==0.9.1
django-reversion==3.0.8
django-rosetta==0.9.5
dj-pagination==2.5.0
docutils==0.16
gunicorn==20.0.4
ipython==7.16.1 # last version to support Python 3.6
newrelic==5.24.0.153
psycopg2-binary==2.8.6
requests==2.25.1
sentry-sdk==0.17.1
sorl-thumbnail==12.6.3
unicode-slugify==0.1.3
