@import "bootstrap";
@import "responsive";
@import "diavlo";

@baseBlue: #17497d;
@textGray: #444;
@baseGray: #7f7f7f;

html, body {
    margin: 0;
    padding: 0;
    color: @textGray;
    background: #fafafa;
}

body > header {
    h1 {
        margin: 2 * @baseLineHeight 0;
        padding: 2 * @baseLineHeight @baseLineHeight;
        border-top: 1px #ddd solid;
        border-bottom: 1px #ddd solid;
        background: url(../images/gray_jean.png);
        font-family: 'diavlo_blackregular', sans-serif;
        font-weight: normal;
        color: @baseBlue;
        font-size: 3 * @baseLineHeight;
        text-transform: uppercase;
        text-shadow: 0px 1px 1px #fff;
        span {
            color: lighten(@baseGray, 30%);
        }
        a, a:visited, a:hover, a:active {
            color: @baseBlue;
            text-decoration: none;
        }
    }
}
.sidebar section {
    margin-bottom: @baseLineHeight;
    color: @baseGray;
    h2 {
        font: normal @baseLineHeight 'diavlo_bookregular', sans-serif;
        font-variant: small-caps;
        line-height: @baseLineHeight;
        color: lighten(@baseGray, 20%);
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 0.5 * @baseLineHeight;
        }
    }
    a {
        color: @baseGray;
    }
    a:visited {
        color: darken(@baseGray, 10%);
    }
    a:hover {
        color: lighten(@baseBlue, 30%);
        text-decoration: none;
    }
}
.main-content {
    a {
        color: saturate(@baseBlue, 50%);
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
        color: lighten(@baseBlue, 30%);
    }
    article {
        h1 {
            font-weight: normal;
            font-family: 'diavlo_bookregular', sans-serif;
            font-size: 2 * @baseLineHeight;
            color: @baseGray;
            a {
                color: @baseGray;
            }
            a:visited {
                color: darken(@baseGray, 10%);
            }
            a:hover {
                color: lighten(@baseBlue, 30%);
                text-decoration: none;
            }
        }
        h2 {
            color: lighten(@baseGray, 10%);
            font-size: @baseLineHeight;
            font-weight: bold;
        }
        p {
        }
        strong {
            color: lighten(@textGray, 10%);
        }
        em {
            color: darken(@textGray, 10%);
        }
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style-position: outside;
        }
        iframe {
            display: block;
            margin: @baseLineHeight auto;
        }
        footer {
            margin-top: 2 * @baseLineHeight;
            color: @baseGray;
            a {
                font-weight: normal;
            }
        }
    }
}

body > footer {
    margin: 2 * @baseLineHeight 0 0;
    padding: 2 * @baseLineHeight @baseLineHeight;
    border-top: 1px #ddd solid;
    background: url(../images/gray_jean.png);
    font-size: 1.25 * @baseFontSize;
    font-family: 'diavlo_bookregular', sans-serif;
    color: @baseGray;
    text-shadow: 0px 1px 1px #fff;
    text-align: center;
    strong {
        font-family: 'diavlo_blackregular', sans-serif;
        font-weight: normal;
        color: lighten(@baseGray, 10%);
    }
}

@media (min-width: 1200px) {
    .sidebar {
        border-left: 1px #ddd solid;
        margin-left: 0.5 * @gridGutterWidth1200;
        padding-left: 0.5 * @gridGutterWidth1200 - 1px;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    .sidebar {
        border-left: 1px #ddd solid;
        margin-left: 0.5 * @gridGutterWidth768;
        padding-left: 0.5 * @gridGutterWidth768 - 1px;
    }
}

@media (min-width: 480px) and (max-width: 979px) {
    body > header {
        h1 {
            font-size: 2 * @baseLineHeight;
            padding: @baseLineHeight;
        }
    }
    body > footer {
        margin: 1.5 * @baseLineHeight 0 0;
        padding: 1.5 * @baseLineHeight;
    }
}
@media (max-width: 767px) {
    .sidebar section h2 {
        margin: @baseLineHeight 0;
        padding: 0.5 * @baseLineHeight;
        text-align: center;
        border-top: 1px #ddd solid;
        border-bottom: 1px #ddd solid;
        background: url(../images/gray_jean.png);
        font-family: 'diavlo_blackregular', sans-serif;
        text-shadow: 0px 1px 1px #fff;
    }
    .main-content, .sidebar section ul {
        padding: 0 @baseLineHeight;
    }
}
@media (max-width: 479px) {
    body > header {
        h1 {
            font-size: @baseLineHeight;
            padding: 0.5 * @baseLineHeight 0;
            text-align: center;
            line-height: @baseLineHeight;
            span {
                display: block;
            }
        }
    }
    body > footer {
        margin: @baseLineHeight 0 0;
        padding: @baseLineHeight;
        font-size: @baseFontSize;
    }
}
