@import "bootstrap";
@import "responsive";
@import "diavlo";
@import "pygments";

@baseBlue: #17497d;
@textGray: #444;
@baseGray: #7f7f7f;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: @textGray;
    background: #fafafa;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -7 * @baseLineHeight;
}

#wrap > header {
    position: relative;
    #toggle-mobile-menu {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    nav {
        margin: 0 auto;
        padding: 0;
        height: 2 * @baseLineHeight;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: auto;
        }
        li {
            float: left;
            a, a:visited {
                display: inline-block;
                padding: 0.25 * @baseLineHeight;
                margin-right: @baseLineHeight;
                height: 1.5 * @baseLineHeight;
                line-height: 1.5 * @baseLineHeight;
                font-size: 1.5 * @baseFontSize;
                font-family: 'diavlo_blackregular', sans-serif;
                font-variant: small-caps;
                color: lighten(@baseGray, 20%);
            }
            a:hover {
                color: lighten(@baseBlue, 30%);
                text-decoration: none;
            }
        }
        li.social {
            float: right;
            a {
                padding: 0.25 * @baseLineHeight 0;
                margin-right: 3px;
            }
        }
    }
    h1 {
        margin: 0 0 2 * @baseLineHeight 0;
        padding: 2 * @baseLineHeight @baseLineHeight;
        border-top: 1px #ddd solid;
        border-bottom: 1px #ddd solid;
        background: url(../images/gray_jean.png);
        font-family: 'diavlo_blackregular', sans-serif;
        font-weight: normal;
        color: @baseBlue;
        font-size: 3 * @baseLineHeight;
        text-transform: uppercase;
        text-shadow: 0px 1px 1px #fff;
        span {
            color: lighten(@baseGray, 30%);
        }
        a, a:visited, a:hover, a:active {
            color: @baseBlue;
            text-decoration: none;
        }
    }
}
.sidebar section {
    margin-bottom: @baseLineHeight;
    color: @baseGray;
    h2 {
        font: normal @baseLineHeight 'diavlo_bookregular', sans-serif;
        font-variant: small-caps;
        line-height: @baseLineHeight;
        color: lighten(@baseGray, 20%);
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 0.5 * @baseLineHeight;
        }
    }
    a {
        color: @baseGray;
    }
    a:visited {
        color: darken(@baseGray, 10%);
    }
    a:hover {
        color: lighten(@baseBlue, 30%);
        text-decoration: none;
    }
}
.main-content {
    margin-bottom: @baseLineHeight;
    a {
        color: saturate(@baseBlue, 50%);
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
        color: lighten(@baseBlue, 30%);
    }
    article {
        h1 {
            font-weight: normal;
            font-family: 'diavlo_bookregular', sans-serif;
            font-size: 2 * @baseLineHeight;
            color: @baseGray;
            a {
                color: @baseGray;
                font-weight: normal;
            }
            a:visited {
                color: darken(@baseGray, 10%);
            }
            a:hover {
                color: lighten(@baseBlue, 30%);
                text-decoration: none;
            }
        }
        h2 {
            color: lighten(@baseGray, 10%);
            font-size: @baseLineHeight;
            font-weight: bold;
        }
        p {
        }
        strong {
            color: lighten(@textGray, 10%);
        }
        em {
            color: darken(@textGray, 10%);
        }
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style-position: outside;
        }
        img {
            display: block;
            margin: @baseLineHeight auto;
        }
        figcaption {
            text-align: center;
        }
        code {
            color: lighten(@baseBlue, 20%);
        }
        .highlight {
            margin: 0.5 * @baseLineHeight 0;
            padding: 0.5 * @baseLineHeight;
            background: #272822 url(../images/skewed_print.png);
            color: #f8f8f2;
            pre {
                font-size: @baseFontSize;
                color: #aaa;
                background: none;
                border: none;
            }
        }
        iframe {
            display: block;
            margin: @baseLineHeight auto;
        }
        footer {
            margin-top: @baseLineHeight;
            color: lighten(@baseGray, 10%);
            a {
                font-weight: normal;
            }
        }
    }
    article + article {
        margin-top: 2 * @baseLineHeight;
    }
    .pagination {
        a:hover, .active a, .active span {
            background-image: url(../images/gray_jean.png);
        }
    }
}

#push {
    height: 7 * @baseLineHeight;
}

body > footer {
    margin: 0;
    padding: 2 * @baseLineHeight @baseLineHeight;
    height: 3 * @baseLineHeight;
    border-top: 1px #ddd solid;
    background: url(../images/gray_jean.png);
    font-size: 1.25 * @baseFontSize;
    font-family: 'diavlo_bookregular', sans-serif;
    color: @baseGray;
    text-shadow: 0px 1px 1px #fff;
    text-align: center;
    strong {
        font-family: 'diavlo_blackregular', sans-serif;
        font-weight: normal;
        color: lighten(@baseGray, 10%);
    }
    .social a, .social a:visited {
        display: inline-block;
        margin: 0 3px;
        color: @baseGray;
    }
    .social a:hover {
        color: lighten(@baseBlue, 30%);
        text-decoration: none;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        border-left: 1px #ddd solid;
        margin-left: 0.5 * @gridGutterWidth1200;
        padding-left: 0.5 * @gridGutterWidth1200 - 1px;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    .sidebar {
        border-left: 1px #ddd solid;
        margin-left: 0.5 * @gridGutterWidth768;
        padding-left: 0.5 * @gridGutterWidth768 - 1px;
    }
}

@media (min-width: 480px) and (max-width: 979px) {
    #wrap > header {
        h1 {
            font-size: 2 * @baseLineHeight;
            padding: @baseLineHeight;
        }
    }
    body > footer {
        margin: @baseLineHeight 0 0;
        padding: 1.5 * @baseLineHeight;
    }
}
@media (max-width: 767px) {
    .sidebar section h2 {
        margin: @baseLineHeight 0;
        padding: 0.5 * @baseLineHeight;
        text-align: center;
        border-top: 1px #ddd solid;
        border-bottom: 1px #ddd solid;
        background: url(../images/gray_jean.png);
        font-family: 'diavlo_blackregular', sans-serif;
        text-shadow: 0px 1px 1px #fff;
    }
    .main-content, .sidebar section ul {
        padding: 0 @baseLineHeight;
    }
}
@media (max-width: 479px) {
    #wrap {
        margin-bottom: -6 * @baseLineHeight;
    }
    #push {
        height: 5 * @baseLineHeight;
    }
    #wrap > header {
        .mobile-menu {
            display: block;
            position: absolute;
            left: 5px;
            top: 0.75 * @baseLineHeight;
            margin-bottom: 0;
            width: 1.5 * @baseLineHeight;
            height: 1.5 * @baseLineHeight;
            border: 1px #ddd solid;
            color: @baseGray;
            #gradient.vertical(#fff, #eee);
            text-align: center;
            line-height: 1.5 * @baseLineHeight;
        }
        nav {
            position: absolute;
            display: none;
            top: 2.5 * @baseLineHeight - 3px;
            left: 5px;
            ul {
                background: #fff;
                border: 1px #ddd solid;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                z-index: 90;
                li {
                    float: none;
                }
                li.social {
                    float: none;
                    text-align: center;
                }
            }
        }
        #toggle-mobile-menu:checked ~ nav {
            display: block;
        }
        h1 {
            margin-top: @baseLineHeight;
            font-size: @baseLineHeight;
            padding: 0.5 * @baseLineHeight 0;
            text-align: center;
            line-height: @baseLineHeight;
            span {
                display: block;
            }
        }
    }
    body > footer {
        margin: 0;
        padding: @baseLineHeight;
        font-size: @baseFontSize;
    }
}
