{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load disqus_tags %}


{% block title %}{{ article.title }} | {% endblock %}

{% block content %}
    {% disqus_dev %}
    <article>
        <h1>{{ article.title }}</h1>
        {% include "articles/article_menu.html" %}

        {{ article.content }}

        <footer>
            {% trans 'Written on' %} {{ article.created|date:"DATE_FORMAT" }}
            <div class="tags">
                {% trans 'Tags' %}:
                {% for tag in article.tags.all %}
                    <a href="{% url 'articles:tagged_article_list' tag=tag.name %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        </footer>
        {% disqus_show_comments %}
    </article>
{% endblock %}

{% block sidebar-articles %}
    {% include "articles/related_articles.html" %}
    {{ block.super }}
{% endblock %}

