{% extends "articles/base_articles.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Edit article" %} | {% endblock %}

{% block extra-head %}
    <script src="{% static 'epiceditor/js/epiceditor.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(event) {
            var ids = ['{{ form.summary.auto_id }}', '{{ form.content.auto_id }}'];
            ids.forEach(function(textareaId) {
                var textarea = document.getElementById(textareaId),
                    containerId = 'epic_' + textareaId,
                    container = document.createElement('div'),
                    label = document.querySelector('label[for="' + textareaId + '"]');
                textarea.style.display = 'none';
                container.id = containerId;
                label.parentNode.appendChild(container);
                var opts = {
                    container: containerId,
                    textarea: textareaId,
                    basePath: '{% static 'epiceditor/' %}',
                    clientSideStorage: false,
                    button: {
                        preview: false
                    }
                };
                var editor = new EpicEditor(opts).load();
            });
        });
    </script>
{% endblock %}

{% block base-content %}
    <div class="col-lg-12 main-content">
    <article>
        <h1>{% trans "Edit article" %}</h1>
        <form action="" method="post" id="article-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button name="continue" class="btn btn-lg btn-primary" type="submit">{% trans "Save and continue" %}</button>
            <button class="btn btn-lg btn-default" type="submit">{% trans "Save" %}</button>
        </form>
    </article>
    </div>
{% endblock %}
