{% extends "articles/base_articles.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Edit article" %} | {% endblock %}

{% block extra-head %}
    <script src="{{ STATIC_URL }}epiceditor/js/epiceditor.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(event) {
            var ids = ['{{ form.summary.auto_id }}', '{{ form.content.auto_id }}'];
            ids.forEach(function(textareaId) {
                var textarea = document.getElementById(textareaId),
                    containerId = 'epic_' + textareaId,
                    container = document.createElement('div'),
                    label = document.querySelector('label[for="' + textareaId + '"]');
                textarea.style.display = 'none';
                container.id = containerId;
                label.parentNode.appendChild(container);
                var opts = {
                    container: containerId,
                    textarea: textareaId,
                    basePath: '{{ STATIC_URL }}epiceditor/',
                    clientSideStorage: false
                };
                var editor = new EpicEditor(opts).load();
            });
        });
    </script>
{% endblock %}

{% block content %}
<article>
    <h1>{% trans "Edit article" %}</h1>
    <form action="" method="post" id="article-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans "Save" %}" />
    </form>
</article>
{% endblock %}

{% block sidebar-articles %}
    {{ block.super }}
{% endblock %}

