{% extends "articles/base_articles.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Edit article" %} | {% endblock %}

{% block extra-head %}
    <script src="{% static 'build/editor.js' %}"></script>
{% endblock %}

{% block base-content %}
    <div class="col-lg-12 main-content">
    <article>
        <h1>{% trans "Edit article" %}</h1>
        <form action="" method="post" id="article-form" enctype="multipart/form-data" data-editor-base-path="{% static 'build/epiceditor' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button name="continue" class="btn btn-lg btn-primary" type="submit">{% trans "Save and continue" %}</button>
            <button class="btn btn-lg btn-default" type="submit">{% trans "Save" %}</button>
        </form>
    </article>
    </div>
{% endblock %}
