{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load pagination_tags %}

{% block content %}
    {% autopaginate article_list 5 %}
    {% for article in article_list %}
        <article>
            <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
            {% if user.is_superuser %}
                <span class="label label-info">{{ article.get_status_display }}</span>
            {% endif %}
            {{ article.summary }}
            <footer>
                {% trans "Written on" %} {{ article.created|date:"DATE_FORMAT" }}
            </footer>
        </article>
    {% empty %}
        <article>
            <h1>{% trans "There aren't any articles (yet)." %}</h1>
            <p>{% trans "Meanwhile, enjoy this glorious sketch." %}</p>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/zekiZYSVdeQ" frameborder="0" allowfullscreen></iframe>
        </article>
    {% endfor %}
    {% paginate %}
{% endblock %}

