{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
    {% for article in article_list %}
        <article>
            <h1>{{ article.title }}</h1>
            {{ article.summary }}
            <footer>
                {% trans 'Written on' %} {{ article.created|date:"DATE_FORMAT" }}
            </footer>
        </article>
    {% endfor %}
{% endblock %}

{% block sidebar-articles %}
    {% include "articles/top_articles.html" %}
    {% include "articles/most_commented_articles.html" %}
{% endblock %}

