{% extends "articles/base_articles.html" %}
{% load url from future %}
{% load i18n %}
{% load disqus_tags %}

{% block title %}{{ article.title }} | {% endblock %}
{% block og-type %}article{% endblock %}
{% block og-title %}{{ article.title }} | {{ block.super }}{% endblock %}
{% block og-url %}{{ article.get_absolute_url }}{% endblock %}
{% block og-image %}{% if article.header_image %}{{ article.header_image.url }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block extra-head %}
    <meta property="og:description" content="{{ article.summary|striptags }}" />
    <link rel="canonical" href="http://{{ current_site.domain }}{{ article.get_absolute_url }}" />
{% endblock %}

{% block content %}
    {% disqus_dev %}
    <article>
        <h1>{{ article.title }}</h1>
        {% if article.header_image %}
            <img src="{{ article.header_image.url }}" alt="{{ article.title }}" />
        {% endif %}
        {% include "articles/article_menu.html" %}

        {{ article.content }}

        {% if not article.is_static %}
            <footer>
                {% trans 'Written on' %} {{ article.created|date:"DATE_FORMAT" }}
                <div class="tags">
                    {% trans 'Tags' %}:
                    {% for tag in article.tags %}
                        <a href="{% url 'articles:tagged_article_list' tag=tag %}" rel="tag">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </footer>
            {% disqus_show_comments %}
        {% endif %}
    </article>
{% endblock %}

{% block sidebar-articles %}
    {% if not article.is_static %}
        {% include "articles/related_articles.html" %}
    {% endif %}
    {{ block.super }}
{% endblock %}

