{% extends "base.html" %}
{% load i18n %}
{% load article_tags %}

{% block title %}{% trans "Blog" %} | {{ block.super }}{% endblock %}
{% block og-title %}{% trans "Blog" %} | {{ block.super }}{% endblock %}
{% block rss-url %}{% url 'photos:gallery_rss' %}{% endblock %}

{% block header-addon %}{% trans "blog" %}{% endblock %}

{% block base-content %}
    <div class="span6 main-content">
        {% block content %}{% endblock %}
    </div>
    <div class="span3 sidebar articles">
        {% block sidebar-articles %}
            {% include "articles/top_articles.html" %}
        {% endblock %}
    </div>
    <div class="span3 sidebar archive">
        {% block sidebar-archive %}
            <section class="archive">
                <h2>{% trans "Archive" %}</h2>
                <ul>
                    {% get_archive_dates as dates %}
                    {% for date in dates %}
                        <li><a href="{% url 'articles:month_archive' year=date.year month=date.month %}">{{ date|date:"F Y" }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {% endblock %}
    </div>
{% endblock %}
