{% extends "base.html" %}
{% load i18n %}
{% load article_tags %}

{% block title %}{% trans "Blog" %} | {{ block.super }}{% endblock %}
{% block og-title %}{% trans "Blog" %} | {{ block.super }}{% endblock %}
{% block rss-url %}{% url 'pgallery:gallery_rss' %}{% endblock %}

{% block header-addon %}{% trans "blog" %}{% endblock %}

{% block base-content %}
    <div class="col-lg-6 main-content">
        {% block content %}{% endblock %}
    </div>
    <div class="col-lg-3 sidebar articles">
        {% block sidebar-articles %}
            {% include "articles/top_articles.html" %}
        {% endblock %}
        {% if user.is_staff %}
        <section class="well">
            <h2>{% trans "Administration" %}</h2>
            <a class="btn btn-sm btn-primary" href="{% url 'articles:article_create' %}">{% trans "Create article" %}</a>
        </section>
        {% endif %}
    </div>
    <div class="col-lg-3 sidebar archive">
        {% block sidebar-archive %}
            <section class="archive">
                <h2>{% trans "Archive" %}</h2>
                <ul>
                    {% get_archive_dates as dates %}
                    {% for date in dates %}
                        <li><a href="{% url 'articles:month_archive' year=date.year month=date.month %}">{{ date|date:"F Y" }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {% endblock %}
    </div>
{% endblock %}
