{% extends "pgallery/base_photos.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Tag" %}: {{ tag }} | {{ block.super }}{% endblock %}
{% block og-type %}article{% endblock %}
{% block og-title %}{% trans "Tag" %}: {{ tag }} | {{ block.super }}{% endblock %}
{% block og-url %}{% url 'pgallery:tagged_photo_list' tag=tag %}{% endblock %}

{% block extra-head %}
    <link rel="canonical" href="{% url 'pgallery:tagged_photo_list' tag=tag %}" />
{% endblock %}

{% block content %}
    <article>
        <h1>{% trans "Tag" %}: {{ tag }}</h1>
        {% autopaginate photo_list 60 %}
        {% include "pgallery/thumbnail_list.html" %}
        {% paginate %}
    </article>
{% endblock %}

