{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Error 404 - page not found" %} | {% endblock title %}

{% block base-content %}
    <div class="col-md-12 main-content">
    <article>
        <h1 class="error-title">{% trans "Page not found" %}</h1>
        <figure>
        <img src="{{ STATIC_URL }}images/tb_sign1.png" alt="Tumblebeast 404" />
            <figcaption>
                <strong>404 Tumblebeast</strong>
                by <a href="http://theoatmeal.com">Matthew Inman</a>.
            </figcaption>
        </figure>
    </article>
    </div>
{% endblock %}
