{% load i18n %}{% load staticfiles %}<!doctype html>
<html class="no-js" lang="pl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}siciarz.net</title>
  <meta name="description" content="{% block meta-description %}{% trans "Zbigniew Siciarz - Python and Django programmer, webdeveloper, open standards enthusiast. I make the internetz." %}{% endblock %}">
  <meta name="author" content="Zbigniew Siciarz">
  <meta property="og:type" content="{% block og-type %}blog{% endblock %}" />
  <meta property="og:title" content="{% block og-title %}siciarz.net{% endblock %}" />
  <meta property="og:url" content="{{ current_site }}{% block og-url %}{{ request.get_full_path }}{% endblock %}" />
  <meta property="og:image" content="{{ current_site }}{% block og-image %}{% static 'images/me.jpeg' %}{% endblock %}" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'build/style.css' %}">
  {% block extra-style %}{% endblock %}
  {% block extra-head %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% block rss-url %}{% url 'articles:rss' %}{% endblock %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>

<body class="nojs">
    <div id="wrap">
        <header>
            <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'articles:article_list' %}">{% trans "Blog" %}</a></li>
                        <li><a href="{% url 'pgallery:gallery_list' %}">{% trans "Photography" %}</a></li>
                        <li><a href="{% url 'articles:article_details' slug='about-me' %}">{% trans "About me" %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="social">
                            <a href="https://www.facebook.com/zbigniew.siciarz"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/zsiciarz"><i class="fa fa-twitter"></i></a>
                            <a href="https://github.com/zsiciarz"><i class="fa fa-github"></i></a>
                        </li>
                </ul>
                </div>
            </nav>
            </div>
            <h1><a href="{% url 'articles:article_list' %}">Zbigniew Siciarz<span>{% block header-addon %}{% trans "blog" %}{% endblock %}</span></a></h1>
        </header>
        <div class="container">
            <div class="row" id="base-content">
            {% block base-content %}
            {% endblock %}
            </div>
        </div>
        <div id="push"></div>
    </div>
    <footer>
        <p class="copyright">Copyright <strong>Zbigniew Siciarz</strong> 2009-2021.</p>
        <p class="social">
            <a href="https://www.facebook.com/zbigniew.siciarz"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/zsiciarz"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/zsiciarz"><i class="fa fa-github"></i></a>
        </p>
    </footer>
    <script defer src="{% static 'build/app.js' %}"></script>
    {% block extra-script %}{% endblock %}
</body>
</html>
