{% load url from future %}{% load i18n %}{% load compress %}{% load article_tags %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}siciarz.net</title>
  <meta name="description" content="{% block meta-description %}{% trans "Zbigniew Siciarz - Python and Django programmer, webdeveloper, open standards enthusiast. I make the internetz." %}{% endblock %}">
  <meta name="author" content="Zbigniew Siciarz">
  <meta property="og:type" content="{% block og-type %}blog{% endblock %}" />
  <meta property="og:title" content="{% block og-title %}siciarz.net{% endblock %}" />
  <meta property="og:url" content="http://{{ current_site.domain }}{% block og-url %}{{ request.get_full_path }}{% endblock %}" />
  <meta property="og:image" content="http://{{ current_site.domain }}{% block og-image %}{{ STATIC_URL }}images/me.jpeg{% endblock %}" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% compress css %}
  <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/main.less">
  {% endcompress %}
  {% block extra-style %}{% endblock %}
  {% if debug %}<script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>{% endif %}
  {% block extra-head %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15911963-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'articles:rss' %}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
</head>

<body class="nojs">
    <div id="wrap">
        <header>
            <input type="checkbox" id="toggle-mobile-menu" />
            <label for="toggle-mobile-menu" class="mobile-menu"><i class="icon-reorder icon-large"></i></label>
            <nav class="container">
                <ul>
                    <li><a href="{% url 'articles:article_list' %}">{% trans "Blog" %}</a></li>
                    <li><a href="{% url 'articles:article_details' slug='about-me' %}">{% trans "About me" %}</a></li>
                    <li class="social">
                        <a href="https://www.facebook.com/zbigniew.siciarz"><i class="icon-facebook"></i></a>
                        <a href="https://twitter.com/zsiciarz"><i class="icon-twitter"></i></a>
                        <a href="https://github.com/zsiciarz"><i class="icon-github"></i></a>
                    </li>
                </ul>
            </nav>
            <h1><a href="{% url 'articles:article_list' %}">Zbigniew Siciarz<span>blog</span></a></h1>
        </header>
        <div class="container">
            <div class="row">
                <div class="span6 main-content">
                    {% block content %}{% endblock %}
                </div>
                <div class="span3 sidebar articles">
                    {% block sidebar-articles %}
                        {% include "articles/top_articles.html" %}
                    {% endblock %}
                </div>
                <div class="span3 sidebar archive">
                    {% block sidebar-archive %}
                        <section class="archive">
                            <h2>{% trans "Archive" %}</h2>
                            <ul>
                                {% get_archive_dates as dates %}
                                {% for date in dates %}
                                    <li><a href="{% url 'articles:month_archive' year=date.year month=date.month %}">{{ date|date:"F Y" }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>
    <footer>
        <p class="copyright">Copyright <strong>Zbigniew Siciarz</strong> 2009-2013.</p>
        <p class="social">
            <a href="https://www.facebook.com/zbigniew.siciarz"><i class="icon-facebook"></i></a>
            <a href="https://twitter.com/zsiciarz"><i class="icon-twitter"></i></a>
            <a href="https://github.com/zsiciarz"><i class="icon-github"></i></a>
        </p>
    </footer>

    {% block extra-script %}{% endblock %}
    <!--[if lt IE 7 ]>
        <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>
