{% load url from future %}{% load i18n %}{% load compress %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}siciarz.net</title>
  <meta name="description" content="">
  <meta name="author" content="@zsiciarz">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% compress css %}
  <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/main.less">
  {% endcompress %}
  {% block extra-style %}{% endblock %}
  {% if debug %}
    <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
  {% endif %}
  {% block extra-head %}{% endblock %}
</head>

<body class="nojs">
    <header>
        <h1>Zbigniew Siciarz<span>blog</span></h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="span6 main-content">
                {% block content %}{% endblock %}
            </div>
            <div class="span3 sidebar articles">
                <section class="similar-articles">
                    <h2>Related articles</h2>
                    <ul>
                        <li><a href="#">Title of some similar entry</a></li>
                        <li><a href="#">Another very similar article</a></li>
                        <li><a href="#">Somewhat less related musings, but with a longer title</a></li>
                    </ul>
                </section>
                <section class="top-articles">
                    <h2>Top articles</h2>
                    <ul>
                        <li><a href="#">The most popular of all time</a></li>
                        <li><a href="#">Second in popularity, still nice</a></li>
                        <li><a href="#">Last but not least</a></li>
                    </ul>
                </section>
                <section class="most-commented-articles">
                    <h2>Most commented</h2>
                    <ul>
                        <li><a href="#">This one raised quite a buzz</a></li>
                        <li><a href="#">My operating system is better than yours</a></li>
                        <li><a href="#">Reality sucks</a></li>
                    </ul>
                </section>
            </div>
            <div class="span3 sidebar archive">
                <section class="archive">
                    <h2>Archive</h2>
                    <ul>
                        <li><a href="#">January 2013</a></li>
                        <li><a href="#">September 2012</a></li>
                        <li><a href="#">August 2012</a></li>
                        <li><a href="#">July 2012</a></li>
                        <li><a href="#">April 2012</a></li>
                        <li><a href="#">December 2011</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <footer>
        <p class="copyright">Copyright <strong>Zbigniew Siciarz</strong> 2009-2012.</p>
    </footer>

    {% block extra-script %}{% endblock %}
    <!--[if lt IE 7 ]>
        <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>
