{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}
<article>
        <h1>Title of the latest entry</h1>
<p>
Bacon ipsum dolor sit amet excepteur qui sunt fatback pork chop bacon venison rump pancetta pariatur filet mignon beef. Duis <strong>kielbasa</strong> ut eiusmod qui sint. Quis reprehenderit biltong eu, velit chuck adipisicing culpa irure enim. Excepteur meatloaf turkey shoulder velit. <a href="#">Biltong hamburger proident</a>, salami jerky aliquip pork chop ad drumstick short ribs labore meatball aute bacon. Venison esse qui, <em>laboris pork belly dolore tenderloin commodo magna cow</em>.
</p>

<p>
Andouille magna hamburger chuck nostrud cillum est laborum veniam mollit ham hock eiusmod. Esse duis beef ribs venison tempor reprehenderit, adipisicing consectetur. In voluptate consectetur fatback. Sausage ham dolore laboris id non chuck sed brisket boudin tempor pancetta pastrami. <a href="http://example.com">Chicken</a> esse shoulder, enim consequat mollit leberkas elit <strong>nostrud chuck</strong> biltong tenderloin dolore. Pastrami in culpa pariatur, ribeye nisi anim minim sunt ground round jowl. Minim qui et jowl id tempor salami brisket meatloaf ea sed non consequat pig.
</p>

<h2>Subtitle introducing the following part</h2>

<p>
Pork loin dolore strip steak pork chop. Nulla short ribs in consequat officia andouille veniam nisi sint consectetur in voluptate. Filet mignon consequat esse sint magna tail sed. Labore officia bacon, flank shank fugiat ut kielbasa beef. <a href="#">Aliquip magna sed shank brisket</a> venison eiusmod cupidatat qui. Consectetur kielbasa irure shank hamburger, enim dolor t-bone spare ribs est turducken.
</p>

<p>
Ea tri-tip flank dolore deserunt <a href="#">frankfurter</a> officia eu filet mignon exercitation occaecat nisi bresaola. Nostrud beef ribs cillum, short ribs in irure pastrami t-bone spare ribs jowl velit brisket non. Boudin in prosciutto fatback, <em>deserunt rump veniam</em> duis ea in aute cillum nulla venison. Anim excepteur nulla, consequat quis bresaola swine cillum do pancetta commodo tongue esse fatback.
</p>

<h2>A list or something similar</h2>
<ul>
    <li>First item</li>
    <li>Second item</li>
    <li>And now for something completely different</li>
</ul>
<iframe width="420" height="315" src="http://www.youtube.com/embed/IhJQp-q1Y1s" frameborder="0" allowfullscreen></iframe>

    <footer>
        Written on Monday, April 1, 2013
        <div class="tags">
            Tags: <a href="#">musings</a>, <a href="#">stuff</a>, <a href="#">notreallyaboutdjango</a>
        </div>
    </footer>
</article>
{% endblock %}
